.span1
{
  width: 180px;
  height: 180px;
  border: solid 3px;
  text-align: center;
  float: left;
  font-size: 150px;
  margin: 1px;
  border-radius: 8px;
  background: linear-gradient(rgb(234, 224, 194) 5%, rgb(204, 194, 166) 100%) rgb(234, 224, 194);
  cursor: pointer;
}
.span1:hover
{
  transform: scale(1.015);
}

